* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------- */

/*-----------END NAVIGACIJA ----------------------*/
.secBG1 {
    background-color: #ffffff;
    height: 50vh;
    position: relative;
    transform-style: inherit;
}
.secBG2 {
    background-color: #fffbf5;
    height: 50vh;

}
.secBG3 {
    background-color: #ffffff;
    height: 50vh;

}
.secBG4 {
    background-color: #fffbf5;
    height: 50vh;

}
.secBG5 {
    /*background-color: #fff5e2;*/
    /*height: 50vh;*/
    margin-bottom: 7%;

}

.motinine {
    overflow: hidden;
}
.navigacija {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    letter-spacing: 2px;

    /*display: none;*/
}
.nav-link {
    color: #ffffff;
}
.meniuMygtukas {
    color: #ffffff;
}
.mygSpalva {
    border: none;
    background-color: #ffffff;
}
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-chevron-down {
  color: #ffffff;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 80px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
a:hover {
  color: #bea67c;
  text-decoration: none;
}
  a:active {
    color: #000;
}



.homeRow {
    height: 100vh;
}
.homeRow2 {
    /*height: 10vh;*/
}

.homeLogo {
    height: 100%;
    width: 100%;
}
.logoCol{
    height: 90vh;
}
.scrollArow {
    height: 10vh;
}
.arow {
    width: auto;
}
.homePageBG {
    background-image: url("../img/homeBG.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -999;
}
/*.homePageBGGal {
    background-image: url("../img/homeBG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}*/


.mygtukas:hover {
    background-color: rgba(138, 138, 138, 0.56);
    color: #bea67c;
    border-color: #bea67c;
    text-transform: uppercase;
}
.secPageTopLeft {
    height: 500px;
    width: 100%;
}
.secPageTopRight {
    height: 500px;
    width: 100%;
}
.secPageBotLeft {
    height: 500px;
    width: 100%;
}
.secPageBotRight {
    height: 500px;
    width: 100%;
}
.antrasteDekoras{
    margin-left: 56%;
    margin-top: 15%;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000000;
}
.dekoras{
    margin-left: 56%;
    padding-right: 0;
    letter-spacing: 1px;
}
.dekorasCover {
    position: absolute;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    margin-left: 12%;
    margin-top: 5%;
    transform: scale(1);
    transition: all 0.5s;
    padding: 5px;

}
.dekorasCover:hover {
    transform: scale(1.05);
}
.ploksteCover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    margin-right: 12%;
    margin-top: 5%;
    transform: scale(1);
    transition: all 0.5s;
    padding: 5px;
}
.ploksteCover:hover {
    transform: scale(1.05);
}
.gipsasCover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    margin-left: 12%;
    margin-top: 5%;
    transform: scale(1);
    transition: all 0.5s;
    padding: 5px;
}
.gipsasCover:hover {
    transform: scale(1.05);
}
.stalaiCover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    margin-right: 12%;
    margin-top: 5%;
    transform: scale(1);
    transition: all 0.5s;
    padding: 5px;
}
.stalaiCover:hover {
    transform: scale(1.05);
}

.antraste3Dplokstes {
    margin-right: 56%;
    margin-top: 20%;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000000;
    text-align: right;
}
.dPlokstes {
    margin-right: 56%;
    padding-left: 0;
    letter-spacing: 1px;
    text-align: right;
}
a {
    text-decoration: none;

}
.dekrow1 {
    width: 150px;
    margin-left: 33%;
    margin-top: 23%;
    border: 1px solid #000000;
    position: absolute;
}
.dekrow2 {
    width: 45px;
    margin-left: 46%;
    margin-top: 30%;
    position: absolute;
    border: 2px solid #bea67c;
}
.dekrow3 {
    width: 45px;
    margin-left: 54%;
    margin-top: 46%;
    position: absolute;
    border: 1px solid #bea67c;
}
.plorow1 {
    width: 150px;
    margin-left: 44%;
    margin-top: 23%;
    border: 1px solid #000000;
    position: absolute;
}
.plorow2 {
    width: 45px;
    margin-left: 44%;
    margin-top: 30%;
    position: absolute;
    border: 2px solid #bea67c;
}
.plorow3 {
    width: 45px;
    margin-left: 36%;
    margin-top: 46%;
    position: absolute;
    border: 1px solid #bea67c;
}

.antrasteVideo{
    margin-top: 2%;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000000;
    text-transform: uppercase;
}
.videoText {
    width: 500px;
    margin: auto;
    letter-spacing: 1px;
}
.vidrow1 {
    width: 45px;
    margin-left: 48%;
    margin-top: 5%;
    position: absolute;
    border: 2px solid #bea67c;
}

.playCircle {
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);
    padding: 5px;
}
.vidLogo {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.playBut {
    position: absolute;
    margin-left: 8px;
    opacity: 0.6;
}
.playBut:hover {
    opacity: 1;
    transform: scale(1.03);
}
.footBG1 {
    display: flex;
    justify-content: center;

}
.uzklausa {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    /*display: flex;
    justify-content: center;*/
    /*box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);*/

}

.footBG2 {
    display: flex;
    justify-content: center;

}
.apieMus {
    /*padding: 25%;
    margin: 3%;*/
    width: 100%;
    height: 100%;
    border: 2px solid #bea67c;
    /*box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);*/
}
.google {
    margin: 0;
    padding: 0;

}
.footerRow {
    /*background-image: url("../img/footerBG.jpg");*/
    background-size: cover;
    width: 100vw;
}
.copyRight {
    /*background-color: #000;*/
    padding: 5px;
    border: none;
}
.uzklausosForma {
    margin: 0;
    padding: 3%;
}
.formaEmail {
    padding: 1%;
    margin: 0.5%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    height: 100%;
    width: 100%;


}
.formosVardas {
    padding: 1%;
    margin: 0.5%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    border: none;

}
.formosZinute {
    padding: 0.5%;
    margin: 0.5%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    border: none;
}
::placeholder {
    color: black;
}
.formaButton:hover {
    border: 2px solid #000;
    opacity: 1;
    transform: scale(1.03);

}
.prisijungimas {
    float: left;
    width: 100%;
}
.zinuteBut {
    margin-right: 1%;
}

.formaBut {
    width: 100px;
    border: none;
    text-transform: uppercase;
    background-color: #ffff;
    padding: 1%;
    border-radius: 0;
    float: right;
    opacity: 0.5;
    color: #000;
}
.formaBut:hover {
    background-color: #fff;
    color: #000;
    border-color: #bea67c;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 500;

}


/* /\/\/\/\/\/\/\/\ GALLERY /\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
.bg {
    background-image: url("../img/subgallery.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    position: fixed;
}
.galerija {

}
.galerija h2 {
    color: #bea67c;
    font-size: 30px;
    text-align: center;
    padding-top: 6%;
}
hr {
    border: 1px solid #bea67c;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.arteco7 example-image-link{
    justify-content: center;
}
.tumb {
    margin: 0.2%;
}
.marginTop {
    margin-top: -4%;
}
